* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
/* Layout */
.wrapper {
    display: flex;
}

nav {
    width: 25%;
    background-color: lightblue;
}

main {
    width: 75%;
    background-color: lightgreen;
}

/* SIDEBAR */

/* MAIN */

